
*.config.js
node_modules
tsconfig.*json
.vscode/
build/
src/_deprecated
tailwind.config.js
src/api/schema
cypress/
scripts/
coverage/
moxie/
proxy/
public/
test-*/
src/setupProxy.js
.next/
.eslintrc.js
.eslintrc.json
.pre-commit-config.yaml